- if @page.homepage
  div
    - if !@page.persisted?
      = t('.creating_new_homepage', language: @page.language)
    - else
      = t('.editing_homepage', language: @page.language)

= tinymce_assets
= form_for @page, url: { action: action } do |f|
  - if @page.homepage
    = f.hidden_field :homepage, value: true
    = f.hidden_field :language, value: @page.language
  .form-group
    = f.label :title, class: 'control-label'
    = error_message(@page, :title)
    = f.text_field :title, class: 'form-control'
  .form-group
    = error_message(@page, :body)
    = f.text_area :body, rows: 22, class: 'tinymce'
  - if !@page.homepage && current_admin_user.super_admin?
    .form-group
      = f.label :parent_id, class: 'control-label'
      = error_message(@page, :parent_id)
      = f.select :parent_id, @page.parents_options_for_select, {include_blank: true}, class: 'form-control'
    .form-group
      = f.label :other_language_page_id, class: 'control-label'
      = error_message(@page, :other_language_page_id)
      = f.select :other_language_page_id, Page.options_for_select, {}, class: 'form-control'
    .form-group
      = f.label :language, class: 'control-label'
      = error_message(@page, :language)
      = f.select :language, Page.languages.keys.to_a, {}, class: 'form-control'
    .form-group
      = f.label :password, class: 'control-label'
      = error_message(@page, :password)
      = f.text_field :password, class: 'form-control'

  .actions
    = f.submit submit, class: 'btn btn-default'
= tinymce(content_css: asset_path('application.css'), content_style: 'body {padding: 20px;}')
