.pages-list
  - pages.only_parents.each.with_index(1) do |page, i|
    .page
      .page-info
        = render partial: 'admin/pages/page_cells', locals: {page: page, index: i, pages_count: pages.count}
      
      - if page.subpages.count > 0
        .subpages
          .header= t('.subpages')
          - page.subpages.rank(:subpage_order).each.with_index(1) do |subpage, j|
            .subpage
              .page-info
                = render partial: 'admin/pages/page_cells', locals: {page: subpage, index: j, pages_count: page.subpages.count}
            
