.cell= "#{index}."
.cell
  .arrows
    = link_to '', admin_page_positions_path(page, direction: :up), class: 'glyphicon glyphicon-triangle-top', remote: true, method: :post if index > 1
    = link_to '', admin_page_positions_path(page, direction: :down), class: 'glyphicon glyphicon-triangle-bottom', remote: true, method: :post if index < pages_count
.cell.title= page.title
.cell= link_to t('.show'), page_path(page), target: '_blank'
.cell= link_to t('.edit'), edit_admin_page_path(page)
- if policy(Page).create?
  .cell= link_to t('.copy'), new_admin_page_path(copy_page_id: page.id)
.cell= link_to t('.destroy'), admin_page_path(page), method: :delete, data: {confirm: 'Are you sure?'}
