- if @polish_pages.count == 0
  .header= t('.no_polish_pages')
- else
  .header= t('.polish_pages')
  = render partial: 'index_table', locals: {pages: @polish_pages}

- if @english_pages.count == 0
  .header= t('.no_english_pages')
- else
  .header= t('.english_pages')
  = render partial: 'index_table', locals: {pages: @english_pages}
