h3 Set page colors

= form_for :styles, url: admin_styles_path, html: {class: 'form-horizontal', method: :put} do |f|
  - Style::ITEMS.keys.each do |item_name|
    .form-group
      = f.label item_name, class: 'control-label col-sm-3'
      .col-sm-9
        = f.text_field item_name, value: Style.value_for(item_name), class: 'form-control'
  .form-group
    .col-sm-offset-3.col-sm-9
      = f.submit 'Save', class: 'btn btn-primary'

div
  = button_to 'Reset to defaults', reset_admin_styles_path, class: 'btn btn-default'
