h2 You have received a new grade.
= @grade.work.course.name
br
= @grade.work.name
br
  strong grade: #{@grade.value}

hr

h2 Otrzymałeś nową ocenę.
= @grade.work.course.name
br
= @grade.work.name
br
  strong ocena: #{@grade.value}
