table.table.table-striped.sortable
  thead
    tr
      th= t('.work')
      th= t('.course')
      th= t('.grade')
  tbody
    - @grades.each do |grade|
      tr
        td= grade.work.name
        td= grade.work.course.name
        td= grade.value
