- attachment_courses.joins(:course).order('lower(courses.name)').each do |attachment_course|
  li
    =' attachment_course.course.name
    = link_to '', admin_attachment_course_path(attachment_course), class: 'glyphicon glyphicon-remove text-danger', remote: true, method: :delete
