- if attachments.count > 0
  = form_for :attachments, url: batch_admin_attachments_path do |f|
    table.table.table-striped.sortable
      thead
        tr
          th data={defaultsort: 'disabled'}
            input.select-all type='checkbox'
          th= Attachment.human_attribute_name(:attachment_file_name)
          th data={defaultsort: 'disabled'}
            = t('.course')
          th= t('.uploaded_by')
          th= Attachment.human_attribute_name(:attachment_file_size)
          th= Attachment.human_attribute_name(:created_at)
          th data={defaultsort: 'disabled'} colspan='2'
            = t('.actions')
      tbody
        - attachments.each do |attachment|
          tr
            td 
              - if policy(attachment).destroy? 
                = f.check_box :ids, {multiple: true}, attachment.id, false
            td= link_to attachment.attachment_file_name, attachment.password.blank? ? attachment.attachment.url : form_password_attachment_path(attachment)
            td= attachment.course&.name
            td= attachment.userable.email
            td= attachment.attachment_file_size / 1000
            td= attachment.created_at.localtime
            td
              = link_to t('.edit'), edit_admin_attachment_path(attachment) if policy(attachment).update?
            td
              = link_to t('.delete'), admin_attachment_path(attachment), method: :delete if policy(attachment).destroy?
    .buttons
      = f.submit 'Download selected', class: 'btn btn-default', name: :download
      = f.submit 'Delete selected', class: 'btn btn-danger', name: :delete
- else
  | No attachments
