h2 You are editing #{@attachment.attachment_file_name}

= simple_form_for [:admin, @attachment] do |f|
  = f.association :course, collection: @courses
  = f.input :password, as: :string
  = f.button :submit
