.attachments
  h2 My uploads
  = render partial: 'table', locals: {attachments: @my_attachments}

- if current_admin_user.super_admin?
  .attachments
    h2 Teachers' uploads
    = render partial: 'table', locals: {attachments: @teachers_attachments}

.attachments
  h2 Students' uploads
  = render partial: 'table', locals: {attachments: @students_attachments}
