h2= t('.sign_in')
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-group
    = f.label :email
    = f.email_field :email, autofocus: true, class: 'form-control'
  .form-group
    = f.label :password
    = f.password_field :password, autocomplete: 'off', class: 'form-control'
  .checkbox
    = f.label :remember_me do
      = f.check_box :remember_me
      = User.human_attribute_name(:remember_me)
  .actions
    = f.submit t('.sign_in'), class: 'btn btn-default'
= render "devise/shared/links"
