.row
  .col-sm-12
    = simple_form_for current_admin_user, url: admin_my_account_path do |f|
      = f.input :first_name
      = f.input :last_name
      = f.input :email
      br
      | Leave blank if you don't want to change it.
      = f.input :password
      = f.input :password_confirmation
      = f.button :submit, 'Save'
