nav.navbar.navbar-default
  = render partial: 'layouts/shared/flashes'
  .container-fluid
    .navbar-header
      = render partial: 'layouts/shared/nav_burger'
      = link_to t('.homepage'), root_path, class: 'navbar-brand'
    #navbar-collapse.collapse.navbar-collapse
      ul.nav.navbar-nav
        = render partial: 'layouts/admin/navbar_menu_item', locals: {scope: 'pages', label: t('.pages'), items: pages_menu_items}
        - if policy(Course).index?
          li class= (admin_active_class('courses') ? 'active' : '')
            = link_to t('.courses'), admin_courses_path
        li class= (admin_active_class('users') ? 'active' : '')
          = link_to t('.students'), admin_users_path
        - if policy(AdminUser).create?
          = render partial: 'layouts/admin/navbar_menu_item', locals: {scope: 'admin_users', label: t('.teachers'), items: teachers_menu_items}
        - if policy(Group).index?
          li class= (admin_active_class('groups') ? 'active' : '')
            = link_to t('.groups'), admin_groups_path

        = render partial: 'layouts/admin/navbar_menu_item', locals: {scope: 'attachments', label: t('.files'), items: files_menu_items}
        - if policy(Setting).index?
          = render partial: 'layouts/admin/navbar_menu_item', locals: {scope: 'styles', label: t('.settings'), items: settings_menu_items}
        li class= (admin_active_class('my_accounts') ? 'active' : '')
          = link_to t('.my_account'), edit_admin_my_account_path

      ul.nav.navbar-nav.navbar-right
        li= link_to t('layouts.sidebar.sign_out'), destroy_admin_user_session_path, method: :delete
