li.dropdown class= (admin_active_class(scope) ? 'active' : '')
  a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button'
    => label
    span.caret
  ul.dropdown-menu
    - items.each do |item|
      li= link_to item[:label], item[:path]
