.row
  .col-xs-12
    h3= t('.send_message_to', course: @course.name)
.row
  .col-xs-12
    = form_for :message, url: admin_course_messages_path(@course) do |f|
      .form-group
        = f.label :subject
        = f.text_field :subject, class: 'form-control'
      .form-group
        = f.label :message, for: :message_body
        = f.text_area :body, class: 'form-control'
      .form-group
        = f.submit t('.send_message'), class: 'btn btn-primary'
      
