= form_for :page, url: set_password_page_path(@page) do |f|
  .form-group
    = f.label :password, t('.password')
    = f.text_field :password, class: 'form-control', value: ''
  .form-group
    = f.submit t('.submit'), class: 'btn btn-primary'
