.row
  .col-sm-12
    = simple_form_for @admin_user, url: admin_admin_user_path(@admin_user) do |f|
      = f.input :email
      = f.input :first_name
      = f.input :last_name
      = f.association :courses, collection: Course.order('lower(name)'), input_html: {class: 'select2'}
      = f.association :pages, collection: Page.order('lower(title)').map { |page| ["#{page.title} [#{page.language}]", page.id] }, input_html: {class: 'select2'}
      br
      | Leave blank if you don't want to change it.
      = f.input :password
      = f.input :password_confirmation
      = f.button :submit
