table.table.table-striped.sortable
  thead
    tr
      th= AdminUser.human_attribute_name(:last_name)
      th= AdminUser.human_attribute_name(:first_name)
      th= AdminUser.human_attribute_name(:email)
      th data={defaultsort: 'disabled'} Assigned courses
      th data={defaultsort: 'disabled'} Assigned pages
      th colspan='2' data={defaultsort: 'disabled'} Actions
  tbody
    - @admin_users.each do |admin_user|
      tr
        td= admin_user.last_name
        td= admin_user.first_name
        td= admin_user.email
        td
          ul
            - admin_user.courses.order('lower(name)').each do |course|
              li= course.name
        td
          ul
            - admin_user.pages.order('lower(title)').each do |page|
             li=link_to "#{page.title} [#{page.language}]", edit_admin_page_path(page)
        td= link_to 'Edit', edit_admin_admin_user_path(admin_user)
        td= link_to 'Delete', admin_admin_user_path(admin_user), method: :delete
