.row
  .col-sm-12
    = simple_form_for [:admin, @admin_user] do |f|
      = f.input :email
      = f.input :first_name
      = f.input :last_name
      = f.input :password
      = f.input :password_confirmation
      = f.association :courses
      = f.association :pages
      = f.button :submit, t('.create_teacher')
