- if works.size == 0
  #no-works.alert.alert-info= t('.no_works')

table#works-table.table.table-striped.sortable
  - if works.size > 0
    thead
      tr
        th= Work.human_attribute_name(:name)
        th data={defaultsort: 'disabled'}
        th data={defaultsort: 'disabled'}
    tbody
      - works.each do |work|
        tr
          td= best_in_place work, :name, as: :input, url: admin_course_work_path(course, work)
          td= link_to t('.delete'), admin_course_work_path(course, work), method: :delete
