= simple_form_for [:admin, grade], remote: true do |f|
  = f.input :work_id, as: :hidden
  = f.association :user, \
                  collection: User.order_by_last_name \
                                  .joins(:courses) \
                                  .where('courses.id = ?', grade.work.course_id) \
                                  .where.not(id: grade.work.grades.pluck(:user_id)) \
                                  .map { |u| ["#{u.full_name} (index_number: #{u.index_number})", u.id] }
  = f.input :value
  = f.button :submit
