table#grades_table.table.table-striped.sortable
  - if work.grades.exists?
    thead
      tr
        th= t('.student_name')
        th= User.human_attribute_name(:index_number)
        th= t('.grade')
        th data={defaultsort: 'disabled'}
          = t('.actions')
    tbody
      - work.grades.order_by_user_last_name.each do |grade|
        tr
          td= "#{grade.user.last_name} #{grade.user.first_name}"
          td= grade.user.index_number
          td= best_in_place grade, :value, as: :input, url: admin_grade_path(grade)
          td= link_to t('.delete'), admin_grade_path(grade), method: :delete
