h2 Works for #{@course.name}
.row
  .col-xs-12.col-md-6
    p= t('.click_to_edit')
    = render partial: 'index_table', locals: {works: @works, course: @course}
.row
  .col-xs-7.col-md-5
    = render partial: 'form', locals: {work: Work.new, course: @course}
