.row
  .col-sm-12
    h2= "#{Work.model_name}: #{@work.name}"
    h3= "#{Course.model_name}: #{@work.course.name}"

.row
  .col-sm-12
    h4 Grades
    - if @work.grades.count == 0
      #no-grades.alert.alert-info= t('.no_grades')
    = render partial: 'show_grades_table', locals: {work: @work}
    = render partial: 'new_grade_form', locals: {grade: Grade.new(work: @work)}
