= form_for :attachment, url: download_password_attachment_path(@attachment) do |f|
  = f.hidden_field :id, value: @attachment.id
  .form-group
    = f.label :password, t('.provide_password', file: @attachment.attachment_file_name)
    = f.text_field :password, class: 'form-control', value: ''
  .form-group
    = f.submit t('.download'), class: 'btn btn-primary'
