.row
  .col-sm-offset-3.col-sm-9
    h3 Set other settings
    
.row
  = form_for :settings, url: admin_settings_path, html: {class: 'form-horizontal', method: :put} do |f|
    - Setting.items.keys.each do |item_name|
      .form-group
        = f.label item_name, class: 'control-label col-sm-3'
        - if %i[slides_enabled page_border_enabled page_background_enabled].include?(item_name)
          .col-sm-9 style='padding-top: 7px;'
            = f.check_box item_name, {checked: Setting.value_for(item_name) == 'true'}, 'true', 'false'
            
        - else
          .col-sm-9 
            = f.text_field item_name, value: Setting.value_for(item_name), class: 'form-control'
    .form-group
      .col-sm-offset-3.col-sm-9
        = f.submit 'Save', class: 'btn btn-primary'
        
.row
  .col-xs-12
    = button_to 'Reset to defaults', reset_admin_settings_path, class: 'btn btn-default'
