.row
  .col-sm-12
    = simple_form_for current_user, url: student_my_account_path do |f|
      = f.input :first_name
      = f.input :last_name
      = f.input :email
      = f.input :index_number
      = f.association :group
      = f.association :courses, input_html: {class: 'select2'}

      br
      = t('.leave_blank')
      = f.input :password
      = f.input :password_confirmation
      = f.button :submit, 'Save'
