- if attachments.count > 0
  table.table.table-striped.table-condensed.sortable
    thead
      tr
        th= Attachment.human_attribute_name(:attachment_file_name)
        th= Attachment.human_attribute_name(:attachment_file_size)
        th= Course.model_name.human
        th= Attachment.human_attribute_name(:created_at)
        - if editable
          th data={defaultsort: 'disabled'}
    tbody
      - attachments.each do |attachment|
        tr
          td= link_to attachment.attachment_file_name, attachment.attachment.url
          td= attachment.attachment_file_size / 1000
          td
            - if editable
                = best_in_place attachment, :course_id, as: :select, collection: current_user.courses.order('lower(name)').pluck(:id, :name), url: student_attachment_path(attachment)
            - else
              = attachment.course.name
          td= l(attachment.created_at)
          - if editable
            td= link_to t('.delete'), student_attachment_path(attachment), method: :delete
- else
  = t('.no_attachments')
