h2= t('.your_files')
= render partial: 'table', locals: {attachments: @user_attachments, editable: true}

h2= t('.other')
= render partial: 'table', locals: {attachments: @admin_users_attachments, editable: false}
