= simple_form_for @attachment, url: student_attachments_path, html: { multipart: true } do |f|
  = f.association :course, collection: current_user.courses.order('lower(name)'), include_blank: false
  = f.input :attachment
  = f.button :submit, t('.add_attachment'), class: 'btn btn-primary'

.spinner
  span.glyphicon.glyphicon-refresh.rotating
