- if groups.count == 0
  #no-groups.alert.alert-info= t('.no_groups')
- else
  table#groups-table.table.table.table-striped.sortable
    thead
      tr
        th= Group.human_attribute_name(:name)
        th data={defaultsort: 'disabled'} Actions
    tbody
      - groups.each do |group|
        tr
          td= best_in_place group, :name, as: :input, url: admin_group_path(group)
          td= link_to 'Delete', admin_group_path(group), method: :delete
