= render partial: 'index_table', locals: {groups: @groups}
= form_for @new_group, url: { action: 'create' }, remote: true do |f|
  .form-group
    = f.label :name, class: 'control-label'
    span.help-block
    = f.text_field :name, class: 'form-control'
  = f.submit class: 'btn btn-default'
