.alert
  margin: 0
  border-radius: 0

.navbar-default
  border-radius: 0
  background-color: $navs-bg-color

.container.no-padding
  padding: 0

h1, h2, h3, h4, h5, h6
  font-weight: bold
  margin: 0

p
  margin: 0
