@keyframes rotation
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)

.spinner
  text-align: center

.glyphicon-refresh.rotating
  display: none
  font-size: 100px
  animation: rotation 2s linear infinite
