footer
  text-align: center
  label
    font-weight: initial
    margin-bottom: 0
    margin-right: 5px
  input[type='checkbox']
    margin-right: 5px

ol, ul
  margin-left: 40px
  padding: 0

body
  font-family: 'Times New Roman', Times, serif
  font-size: 16px
  padding: 10px 0

.flash
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 100
  animation: scrollup 0.3s linear 3.5s 1 forwards

@keyframes scrollup
  0%
    transform: translateY(0px)
  100%
    transform: translateY(-70px)

#burger
  background-color: #879ab3
  display: none
  margin-bottom: 10px
  @media (max-width: $screen-xs-max)
    display: initial
#burger-input
  display: none

@media (max-width: $screen-xs-max)
  #burger-input:checked ~ #sidebar
    display: initial

.content
  display: flex
  @media (max-width: $screen-xs-max)
    flex-direction: column
  .inner
    width: 100%
    padding-left: 20px
    padding-bottom: 15px
    padding-right: 20px
#slider
  padding: 10px 20px
  display: none
  img
    display: none
    width: 100%

.fade
  animation: fade 5s infinite

@keyframes fade
  0%
    opacity: 0.2
  50%
    opacity: 1
  100%
    opacity: 0.1

.best_in_place
  border: 1px dotted #01a1a9
  &:hover
    background: #9af0f5
    cursor: pointer

.container
  border-style: solid
  border-width: 1px
  background-color: #fff
  &.admin
    padding-bottom: 15px
  @media (min-width: 960px)
    width: 960px

#header
  display: flex
  justify-content: space-between
  align-items: center
  font-size: 17px
  font-weight: 300
  padding: 12px
  position: relative
  min-height: 170px
  .lang-link
    position: absolute
    right: 5px
    bottom: 5px
    img
      height: 12px
      border: 1px solid black
  .heading
    text-align: center
    font-family: 'trebuchet ms', sans-serif
    font-weight: bold
    .teacher
      font-size: 20px
    .school
      font-size: 25px
    img
      height: 92px
  @media (max-width: $screen-xs-max)
    .heading
      .teacher, .school
        font-size: 15px

.field_with_errors
  @extend .has-error

#sidebar
  border-width: 1px
  border-style: solid
  width: 200px
  font-size: 13px
  font-family: "trebuchet ms", sans-serif
  font-weight: bold
  @media (max-width: $screen-xs-max)
    width: 100%
    display: none
    margin-bottom: 10px
  .page, .subpage
    .page-container
      padding-top: 10px
      padding-bottom: 10px
      display: flex
      align-items: center
      width: 100%
    .margin
      width: 20px
      padding-left: 4px
    .glyphicon
      font-size: 10px
  .separator
    font-variant: petite-caps
    font-weight: bold
    font-size: 20px
    padding-left: 20px
  .subpages
    border-bottom: 1px solid black
    .margin
      width: 30px
      padding-left: 14px
  a
    display: flex
    align-items: center
    border-bottom: 1px solid rgba(40,40,40,0.1)
    text-decoration: none

.arrows
  display: inline-block
  margin-left: 10px
  vertical-align: middle
  .glyphicon
    text-decoration: none
    display: block

table
  td
    &.id-cell
      width: 40px
    &.position
      min-width: 57px
