.admin_pages.index
  .header
    font-weight: bold
    font-size: 15px

  .pages-list
    margin-top: 10px
    margin-bottom: 30px
    .page
      padding: 10px 0
      &:nth-of-type(even)
        background-color: $table-bg-accent
      .page-info
        display: flex
      .cell
        padding: 0 10px
        &.title
          flex-grow: 1
      .subpages
        padding-left: 30px
        padding-top: 30px
        padding-bottom: 30px
        .header
          margin-bottom: 10px
          padding: 0 10px
