.new_user, .new_admin_user, .edit_user
  margin-bottom: 20px
  .form-control
    width: 250px
    @media (max-width: $screen-xs-max)
      width: 100%

.admin_users.index
  table
    a.text-danger
      top: auto
      margin-left: 5px
      display: inline-block
      vertical-align: middle
      text-decoration: none
