- course_users.each do |course_user|
  li
    = course_user.course.name
    - if current_admin_user.super_admin?
      = link_to '', admin_courses_user_path(course_user), class: 'glyphicon glyphicon-remove text-danger', remote: true, method: :delete
