= form_for :user, url: batch_delete_admin_users_path, html: {method: :delete} do |f|
  table.table.table-striped.sortable
    thead
      tr
        th data={defaultsort: 'disabled'}
          input.select-all type='checkbox'
        th= User.human_attribute_name(:last_name)
        th= User.human_attribute_name(:first_name)
        th= User.human_attribute_name(:index_number)
        th= User.human_attribute_name(:email)
        th data={defaultsort: 'disabled'}
          = User.human_attribute_name(:group)
        th data={defaultsort: 'disabled'}
          = Course.model_name.human(count: 2)
        - if policy(User).destroy?
          th data={defaultsort: 'disabled'} Action
    tbody
      - @users.each.with_index(1) do |user, i|
        tr
          - if policy(user[:user]).destroy? 
            td = f.check_box :ids, {multiple: true}, user[:user].id, false
          td= user[:user].last_name
          td= user[:user].first_name
          td= user[:user].index_number
          td= user[:user].email
          td
            - if current_admin_user.super_admin?
              = select_tag("group_#{i}",
                           options_from_collection_for_select(Group.all, 'id', 'name', user[:user]&.group&.id),
                           include_blank: true,
                           class: 'form-control group-select',
                           data: { url: admin_user_path(user[:user]) })
            - else
              = user[:user].group.name
          td
            ol.courses-list id="ol_#{i}" data= { target: "courses_select_#{i}" }
              = render partial: 'courses', locals: { course_users: user[:course_users], i: i}
            - if current_admin_user.super_admin?
              = select_tag("courses_select_#{i}",
                render(partial: 'courses_select_options', locals: { available_courses: user[:available_courses] }),
                class: 'form-control courses-select',
                data: { target: "ol_#{i}",
                        url: admin_courses_users_path,
                        user_id: user[:user].id})
          - if policy(User).destroy?
            td= link_to 'Delete', admin_user_path(user[:user]), method: :delete
  = f.submit 'Delete selected', class: 'btn btn-danger', name: :delete
