= form_for :grades, url: admin_course_grades_path do |f|
  table#grades_table.table.table-striped.sortable
    - if course.works.count > 0 && course.users.count > 0
      thead
        tr
          th= t('.student_name')
          - course.works.order(:name).each do |work|
            th data={defaultsort: 'disabled'}
              = work.name
      tbody
        - course.users.order_by_last_name.each do |user|
          tr
            td= "#{user.last_name} #{user.first_name} (#{user.index_number})"
            - course.works.order(:name).each do |work|
              - grade = Grade.find_or_initialize_by(work: work, user: user)
              td
                = f.fields_for user.id.to_s do |fu|
                  = fu.text_field work.id.to_s, class: 'form-control', value: Grade.find_by(work: work, user: user)&.value


  - if course.works.count > 0 && course.users.count > 0
    = f.submit class: 'btn btn-primary'
