.row
  .col-sm-12
    h2= "Grades for #{@course.name}"

.row
  .col-sm-12
    = render partial: 'show_grades_table', locals: {course: @course}

hr
= link_to 'Download grades as CSV', grades_csv_admin_course_path(@course, format: :csv)
