- if courses.size > 0
  table#courses-table.table.table-striped
    thead
      tr
        th #
        th= Course.human_attribute_name(:name)
        th= t('.teachers')
        th= t('.works')
        th= t('.grades')
        th colspan='3'= t('.actions')
    tbody
      - courses.each.with_index(1) do |course, i|
        tr
          td.position
            = i
            .arrows
              = link_to '', admin_course_positions_path(course, direction: :up), class: 'glyphicon glyphicon-triangle-top', remote: true, method: :post if i > 1
              = link_to '', admin_course_positions_path(course, direction: :down), class: 'glyphicon glyphicon-triangle-bottom', remote: true, method: :post if i < courses.size
          td= course.name
          td
            ul
              - course.admin_users.each do |teacher|
                li= "#{teacher.full_name} (#{teacher.email})"
          td= link_to t('.works'), admin_course_works_path(course)
          td= link_to t('.grades'), admin_course_grades_path(course)
          td= link_to t('.send_message'), new_admin_course_message_path(course)
          td= link_to t('.edit'), edit_admin_course_path(course)
          td= link_to t('.delete'), admin_course_path(course), method: :delete
- else
  #no-courses.alert.alert-info= t('.no_courses')
