h3 Editing course
.row
  .col-sm-12
    = simple_form_for @course, url: admin_course_path(@course) do |f|
      = f.input :name
      = f.association :admin_users, collection: AdminUser.order('lower(last_name)'), label_method: :full_name_reversed, label: 'Teachers', input_html: {class: 'select2'}
      = f.button :submit
