#sidebar style=sidebar_style
  .separator style=sidebar_header_style
    = t('.menu')
  = sidebar_link t('.homepage'), root_path
  - Page.only_parents.without_homepage.ordered_in_language(t('locale_name')).each do |page|
    .page style="background-color: #{sidebar_item_background(page_path(page))}; color: #{sidebar_item_color(page_path(page))};"
      - if page.subpages.empty?
        .page-container
          .margin
          = link_to page.title, page_path(page), style: "color: #{sidebar_item_color(page_path(page))};"
      - else
        .page-container
          .margin
            span.glyphicon class=(show_subpages?(page) ? 'glyphicon-minus' : 'glyphicon-plus') 
          = link_to page.title, page_path(page), style: "color: #{sidebar_item_color(page_path(page))};"
        .subpages class=(show_subpages?(page) ? '' : 'hidden')
          - page.subpages.rank(:subpage_order).each do |subpage|
            .subpage class=current_sidebar_class(page_path(subpage)) style="background-color: #{sidebar_item_background(page_path(subpage))}; color: #{sidebar_item_color(page_path(subpage))};"
              .page-container
                .margin
                  span.glyphicon.glyphicon-menu-right
                = link_to subpage.title, page_path(subpage), style: "color: #{sidebar_item_color(page_path(subpage))};"
  .separator style=sidebar_header_style
    = t('.account')
  - if user_signed_in?
    = sidebar_link t('.grades'), student_grades_path
    = sidebar_link t('.browse_files'), student_attachments_path
    = sidebar_link t('.upload_files'), new_student_attachment_path
    = sidebar_link t('.edit_my_account'), edit_student_my_account_path
    = sidebar_link t('.sign_out'), destroy_user_session_path, method: :delete
  - else
    = sidebar_link t('.sign_up'), new_user_registration_path
    = sidebar_link t('.sign_in'), new_user_session_path
