doctype html
html
  head
    meta content='text/html; charset=UTF-8' http-equiv='Content-Type'
    meta name='viewport' content='width=device-width, initial-scale=1'
    title= t('.page_title')
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    - if Rails.env.development?
      style
        | .translation_missing {  border: 1px solid red; }
  body.admin class= body_class
    .container.admin
      = render partial: 'layouts/admin/navbar'
      = yield
