doctype html
html
  head
    meta content='text/html; charset=UTF-8' http-equiv='Content-Type'
    meta name='viewport' content='width=device-width, initial-scale=1'
    title= page_title
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    - if Rails.env.development?
      style
        | .translation_missing {  border: 1px solid red; }
  body class=body_class style=body_style
    .container.no-padding style=container_style
      #header style=header_style
        = render partial: 'layouts/shared/flashes'
        .heading
          = link_to Setting.value_for(:left_logo_link_url), target: '_blank' do
            = image_tag Setting.value_for(:left_logo_image_url)
        .heading
          .school style=header_upper_text_style
            = t('.department_name')
          .school style=header_upper_text_style
            = t('.university_name')
          .teacher style=header_lower_text_style
            = teacher_name
        .heading
          = link_to Setting.value_for(:right_logo_link_url), target: '_blank' do
            = image_tag Setting.value_for(:right_logo_image_url)
        =lang_link
      - if Setting.value_for(:slides_enabled) == 'true'
        #slider.hidden-xs
          - Dir.glob('app/assets/images/slides/*.jpg').shuffle.each do |image|
            = image_tag "slides/#{image.split('/').last}", class: 'fade'
      .content
        label#burger.button.btn for='burger-input'
          span.glyphicon.glyphicon-menu-hamburger
        input type='checkbox' id='burger-input'
        = render partial: 'layouts/sidebar'
        .inner
          = yield
      .row
        .col-xs-12
          footer style=footer_style
            .row
              .col-sm-8.col-sm-offset-2
                = t('.footer')
              .col-sm-2
                - if Setting.value_for(:slides_enabled) == 'true'
                  .pull-right
                    label for='slider-checkbox' Slides:
                    = check_box_tag 'slider-checkbox', '1', cookies['slider'] != 'off'
