h2= t('.sign_up')
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  .form-group
    = f.label :email, class: 'control-label'
    = error_message(resource, :email)
    = f.email_field :email, autofocus: true, class: 'form-control'
  .form-group
    = f.label :first_name, class: 'control-label'
    = error_message(resource, :first_name)
    = f.text_field :first_name, class: 'form-control'
  .form-group
    = f.label :last_name, class: 'control-label'
    = error_message(resource, :last_name)
    = f.text_field :last_name, class: 'form-control'
  .form-group
    = f.label :courses, class: 'control-label'
    = error_message(resource, :courses)
    = f.collection_select :course_ids, Course.rank(:order).all, :id, :name, {}, {class: 'form-control select2', multiple: true, size: 5}
  .form-group
    = f.label :index_number, class: 'control-label'
    = error_message(resource, :index_number)
    = f.text_field :index_number, class: 'form-control'
  .form-group
    = f.label :group, class: 'control-label'
    = error_message(resource, :group)
    = f.collection_select :group_id, Group.order(:name), :id, :name, {include_blank: true}, class: 'form-control'
  .form-group
    = f.label :password, class: 'control-label'
    = error_message(resource, :password)
    = f.password_field :password, autocomplete: 'off', class: 'form-control'
  .form-group
    = f.label :password_confirmation, class: 'control-label'
    = error_message(resource, :password_confirmation)
    = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'
  .actions
    = f.submit t('.sign_up'), class: 'btn btn-default'
= render 'devise/shared/links'
